doctype html
html
  head
    title='TripTrack-HOME'
    link(rel='stylesheet', href='/stylesheets/layout-page.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src='../../javascripts/maps.js')
    script.
      $(document).ready(function(){
        $("body").append("<script src='/javascripts/websocket.js'>");
        $(".badge1").attr("data-badge",''+number_notifications);
      });
      history.pushState('','triptrack','https://app-ggd94.c9users.io/users/FBLogin/confirm');
      var array_luoghi= !{luoghi};
      var array_foto= !{photos};
      var array_friends= !{friends};
      var feed= !{feed};
      var at= '#{at}';
      var rb= '#{crypted_id}';
      var asp= '#{asp}';
      var array_notifiche=!{notifications};
      var number_notifications='#{number_notifications}';
  body
    block content
